<section class="about section">
    <div class="section-inner">
        <h2 class="heading">About Me</h2>
        <div class="content">
            <p> 
                Working as a software Development Engineer at <em>ProtonMail</em>, I am a new-technology enthusiast and committed to improving privacy. I started my studies at the French engineering school
                <em>INSA Rennes</em> in 2013. In 2016 I had the opportunity to pursue my studies at the
                <em>Technische University of Dresden</em>, Germany. I finished my studies in September 2018, and am now working for ProtonMail.
            </p>    
            <p>
                During my work, my studies and in personal projects, I like to be involved in both front-end and back-end development. I also have a good understanding of computer science security. At ProtonMail, I am in charge of various tasks, from Two Factor Authentication to Sieve. More generally, I like to be involved in dynamic and privacy-focused projects.
            </p>
        </div><!--//content-->
    </div><!--//section-inner-->      
</section>