    <aside class="algorithm-competition aside section">
                    <div class="section-inner">
                        <h2 class="heading">Algorithm Competition</h2>
                        <div class="content">
                          <div class="item">
                                <h3 class="title">Battle Dev 10th edition<span class="date"> — 7th November 2017</span></h3>
                                <h4 class="result">118/2780 <span class="percentage">(top 5%)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Battle Dev 12th edition<span class="date"> — 6th November 2018</span></h3>
                                <h4 class="result">315/3914 <span class="percentage">(top 10%)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">Battle Dev 8th edition<span class="date"> — 8th November 2016</span></h3>
                                <h4 class="result">187/1987 <span class="percentage">(top 10%)</span></h4>
                            </div><!--//item-->
                            <div class="item">
                                <h3 class="title">CodInsa 2017 <span class="date"> — 2th March 2017</span></h3>
                                <h4 class="result">16/96, qualified to final phases <span class="percentage">(top 20%)</span></h4>
                            </div><!--//item-->
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->