<aside class="education aside section">
    <div class="section-inner">
        <h2 class="heading">Education & Diploma</h2>
        <div class="content">
            <div class="item">                      
                <h3 class="title"><i class="fa fa-university"></i> Engineering Diploma in Computer Science</h3>
                <h4 class="university"><a class="university-content" href="https://www.insa-rennes.fr/en/computer-science.html">INSA Rennes</a> <span class="year">(2013- now)</span></h4>
            </div><!--//item-->
            <div class="item">
                <h3 class="title"><i class="fa fa-university"></i> Diplom Informatik</h3>
                <h4 class="university"><a class="university-content" href="https://tu-dresden.de/ing/informatik/studium/studienangebot/diplom-studiengaenge/diplom-informatik"> Technische Universität Dresden</a> <span class="year">(2016- 2018)</span></h4>
            </div><!--//item-->
            <div class="item">
                <h3 class="title"><i class="fa fa-graduation-cap"></i> TOEIC</h3>
                <h4 class="university">975/990 <span class="year">October 2018</span></h4>
            </div><!--//item-->
        </div><!--//content-->
    </div><!--//section-inner-->
</aside><!--//section-->