<aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                            Most of my experience was related to web development, thus I have a good proficiency in back-end development, and I also have good understanding of front-end development.
                        </p>

                        <div class="skillset">


                            <div class="item">
                                <h3 class="level-title"><span class="level-language">PHP</span><span class="level-label">Excellent Proficiency</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="85%" style="width:85%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><span class="level-language" data-smaller="NodeJs">JavaScript (NodeJs)</span><span class="level-label"> Good proficiency</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="85%" style="width:85%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><span class="level-language">Security</span><span class="level-label" data-toggle="tooltip" data-placement="left">Good understanding</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="65%" style="width:65%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><span class="level-language" data-smaller="JS (front-end)">JavaScript (front-end)</span><span class="level-label"> Good Proficiency</span>
                                </h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="65%" style="width:65%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->


                            <p><a class="more-link" href="https://www.linkedin.com/in/thomas-hareau-742b8085/#"><i class="fa fa-external-link"></i> More on LinkedIn</a></p>
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->