  <section class="experience section">
    <div class="section-inner">
        <h2 class="heading">Work Experience</h2>
        <div class="content">

            <div class="item">
                <h3 class="title">Software Development Engineer<span class="place"> — <a href="https://www.protonmail.com/">ProtonMail</a></span> <span class="year">(Geneva, Switzerland - from September 2018)</span></h3>
                <p>Software architecture and back-end development on the ProtonCalendar project: cryptographic key management, code quality improvements, ... Refactor and extension of ProtonMail's <a href="https://en.wikipedia.org/wiki/Sieve_(mail_filtering_language)">Sieve</a> parser (email filtering language).</p>
            </div><!--//item-->
            <div class="item">
                <h3 class="title">Intern (master thesis)<span class="place"> — <a href="https://www.protonmail.com/">ProtonMail</a></span> <span class="year">(Geneva, Switzerland - from April 2018 to September 2018)</span></h3>
                <p>Design and implementation of a security protocol: studies of the protocol and the existing implementations, implementation on the back-end and the front-end. </p>
            </div><!--//item-->
             <div class="item">
                <h3 class="title">Intern<span class="place"> — <a href="https://www.push-founders.com/">Push Creative Ventures</a></span> <span class="year">(Berlin, Germany - from October 2017 to February 2018)</span></h3>
                <p>Full-stack development in a 2 months old startup. Front-End development of applications (web and mobile) using React and React Native. Back-End Development with NodeJS, Express, and Socket.io.</p>
            </div><!--//item-->
              <div class="item">
                <h3 class="title">Web Development Intern<span class="place"> — <a href="https://www.netuse.de/">NetUSE AG</a></span> <span class="year">(Kiel, Germany - from June 2014 to July 2014)</span></h3>
                <p>Internal web application development, using PHP, HTML and Bootstrap.</p>
            
            <div class="item">
                <h3 class="title">Seasonal worker<span class="place"> — <a href="https://www.mma.fr">MMA</a></span> <span class="year">(Le Mans, France - from June to August 2015)</span></h3>
                <p>Claim management (communication with clients, liability determination)</p>
            </div><!--//item-->
            
            <div class="item">
                <h3 class="title">Volunteer<span class="place"> — <a href="https://www.apf.asso.fr/">APF Group</a></span> <span class="year">(August 2012)</span></h3>
                <p>Organization of a two weeks stay for 8 disabled people.</p>
            </div><!--//item-->
             </div><!--//item-->

            <div class="item">
                <h3 class="title">Children’s leader<span class="place"> — Diverse location</span> <span class="year">(summers 2010, 2011, 2012 and 2016)</span></h3>
                <p>Creation and carrying out of activities for children.</p>
            </div><!--//item-->


            <p><a class="more-link" href="https://www.linkedin.com/in/thomas-hareau-742b8085/#experience"><i class="fa fa-external-link"></i> More on LinkedIn</a></p>
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</section><!--//section-->