  <section class="projects section">
    <div class="section-inner">
        <h2 class="heading">Academical and personal projects</h2>
        <div class="content">
            <div class="item">
                <h3 class="title">Kompose evaluation (2017)</h3>
                <div class="row">
                    <div class="col-sm-9">
                        <p class="summary ">
                            Analysis of the project <a href="http://kompose.io"> Kompose</a>, in order to determine its usability to manage a Kubernetes and a Docker Swarm cluster using the same manifest files. 
                            Evaluation of the functionalities and the performances. Creation of bash scripts, to evaluate the deployment process. Under the supervision of
                            Prof. Dr. Christof Fetzer (TUD).
                        </p>
                        <p>
                            <a class="more-link" href="http://slides.com/thhareau/kompose" target="_blank"><i class="fa fa-file-pdf-o"></i> Find out more</a>
                        </p>
                    </div>
                    <div class="col-sm-2 text-center">
                        <table class="table table-condensed">
                          <tr>
                            <td>Kubernetes</td>
                            <td>45%</td>
                        </tr>

                        <tr>
                            <td>Docker-Swarm</td>
                            <td>45%</td>
                        </tr>
                        <tr>
                            <td>Bash</td>
                            <td>10%</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div><!--//item-->
        <div class="item">
            <h3 class="title">Minor Thesis: A Test Infrastructure for DTN Software Implementations (2016-2017) <span class="label label-theme">Open Source</span></h3>
            <div class="row">
                <div class="col-sm-9">
                    <p class="summary ">
                        Creation of a REST API to launch instances of a DTN Software
                        (<a href="https://upcn.eu">uPCN</a>) and its integration
                        in a DTN Network simulator (The ONE). Under the supervision of
                        Mr Dr.-Ing. Marius Feldmann (TUD).
                    </p>
                    <p>
                        <a class="more-link" href="assets/files/minor thesis -- Thomas HAREAU.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Find out more</a>
                    </p>
                </div>
                <div class="col-sm-2 text-center">
                    <table class="table table-condensed">
                      <tr>
                        <td>Python</td>
                        <td>50%</td>
                    </tr>

                    <tr>
                        <td>Java</td>
                        <td>45%</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>5%</td>
                    </tr>
                </table>
            </div>
        </div>
    </div><!--//item-->

    <div class="item">
        <h3 class="title">OOP and Design Pattern Project (2015)</h3>
        <div class="row">
            <div class="col-sm-9">
                <p class="summary">
                    Practical application of OOP and design pattern courses for the creation of a game. The goal was to analyse requirements, model the structure of the game, and to develop it using a lightweight WPF design and including C++ libraries. Under the supervision of Assoc. Prof. Blouin (INSA Rennes).
                </p>
            </div>
            <div class="col-sm-2 text-center">
                <table class="table table-condensed">
                  <tr>
                    <td>C#</td>
                    <td>95%</td>
                </tr>

                <tr>
                    <td>C++</td>
                    <td>5%</td>
                </tr>
            </table>
        </div>
    </div>
</div><!--//item-->

<div class="item">
   <h3 class="title">Colloquium — 3rd year project (2014-2015) <span class="label label-theme">Open Source</span></h3>
   <div class="row">
    <div class="col-sm-9">
        <p class="summary">
            Creation of the website <em>Colloquium</em> to manage conferences. Under the supervision of Prof. Dupuy (INSA Rennes).
        </p>
    </div>
    <div class="col-sm-2 text-center">
        <p>Ruby (Sinatra)</p>
    </div>
</div>
</div><!--//item-->
</div><!--//content-->  
</div><!--//section-inner-->                 
                </section><!--//section-->