    <aside class="skills aside section">
                <div class="section-inner">
                    <h2 class="heading">Skills</h2>
                    <div class="content">
                        <p class="intro">
                            Through my diverse experience, I have acquired excellent skills in Back-End and Front-End development. I am particularly interested in software architecture, unit testing, and code quality standards.   
                        </p>

                        <div class="skillset">


                            <div class="item">
                                <h3 class="level-title"><span class="level-language">Software architecture</span><span class="level-label" data-toggle="tooltip" data-placement="left">Good proficiency</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%" style="width:80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title"><span class="level-language">PHP</span><span class="level-label">Excellent Proficiency</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="90%" style="width:90%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->

                            <div class="item">
                                <h3 class="level-title overlap"><span class="level-language" data-smaller="JS">JavaScript</span><span class="level-label"> Good proficiency</span></h3>
                                <div class="level-bar">
                                    <div class="level-bar-inner" data-level="80%" style="width:80%">
                                    </div>                                      
                                </div><!--//level-bar-->                                 
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="https://www.linkedin.com/in/thomas-hareau-742b8085/#"><i class="fa fa-external-link"></i> More on LinkedIn</a></p>
                        </div>              
                    </div><!--//content-->  
                </div><!--//section-inner-->                 
            </aside><!--//section-->