<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" prefix="og: http://ogp.me/ns#"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<head>
    <title>{{site.title}}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">

    <meta property="og:title" content="{{site.title}}" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{site.url  | replace: 'http://', 'https://'}}" />
    <meta property="og:image" content="{{site.url  | replace: 'http://', 'https://'}}/assets/images/profile.jpg" />
    <meta property="og:description" content="{{site.description}}" />
    <link rel="shortcut icon" href="favicon.ico">  
    <link href='assets/fonts/montserrat/montserrat.css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head> 

  <body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <div class="image-shadow"></div>
            <img class="profile-image img-responsive pull-left" src="assets/images/profile.jpg" alt="{{ site.title }}" width="180"/>
            <div class="profile-content pull-left">
                <h1 class="name">{{ site.title }}</h1>
                <h2 class="desc">{{ site.subtitle }}</h2>   
                <div class="row">
                    <ul class="social list-inline col-sm-7">                 
                        <li><a href="https://www.linkedin.com/in/thomas-hareau"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://gitlab.com/entilore"><i class="fa fa-gitlab"></i></a></li>   
                        <li><a href="/assets/files/CV%20Thomas%20HAREAU.pdf"><i class="fa fa-file-pdf-o"></i></a></li>
                        <li class="last-item"><a href="https://github.com/thhareau"><i class="fa fa-github-alt"></i></a></li>
                    </ul>
                    <div class="col-sm-5 hidden-lg hidden-md small-screen-btn">
                        <a target="_blank" href="/assets/files/publickey.thomas@hareau.eu.asc" class="publickey"  data-toggle="tooltip" title="Download my public key"><i class="fa fa-key"></i></a>
                        <a class="btn btn-cta-primary" href="mailto:thomas@hareau.eu" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
                    </div>
                </div>
            </div><!--//profile-->              
            <div class="hidden-xs hidden-sm big-screen-btn pull-right">
                <a target="_blank" href="/assets/files/publickey.thomas@hareau.eu.asc" class="publickey" data-toggle="tooltip" title="Download my public key"><i class="fa fa-key"></i></a>
                <a class="btn btn-cta-primary" href="mailto:thomas@hareau.eu" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>
            </div>
        </div><!--//container-->

    </header><!--//header-->
    {{ content }}

<!-- ******FOOTER****** --> 
<footer class="footer">
    <div class="container text-center">
        <small class="copyright"> {{ site.title }} </small> -
        <small class="copyright"> contact: thomas@hareau.eu </small> -
        <small class="copyright">Designed by <a class="copyright no-decoration" href="http://themes.3rdwavemedia.com" target="_blank">3rd Wave Media</a></small> - 
        <small class="copyright"><a class="copyright no-decoration" href="privacy.html">Privacy</a></small>
    </div><!--//container-->
</footer><!--//footer-->


<script>
    function ready(callback){
        // in case the document is already rendered
        if (document.readyState!='loading') callback();
        // modern browsers
        else if (document.addEventListener) document.addEventListener('DOMContentLoaded', callback);
        // IE <= 8
        else document.attachEvent('onreadystatechange', function(){
            if (document.readyState=='complete') callback();
        });
    }


    ready(function(){
        var attempts = 0;

        var image = document.getElementsByClassName('profile-image')[0];
        image.addEventListener(
            'click', 
            function (event) {
                attempts += 1;
                if(attempts === 5) {
                    event.target.style = "animation: 2000ms 1 cubic-bezier(.18,.89,.6,1.09) spin";    
                }
            }, 
            false               
        );  
    });
</script>

</body>
</html> 

